---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---
<BaseLayout>
  <section 
  class="hero-section" 
  role="banner"
  aria-label="Section principale de bienvenue, illustrant des travaux sans stress avec Travaux Sisters"
  style={`background: url('${import.meta.env.BASE_URL}images/homepage_image.jpg') center/cover no-repeat;`}
>
<div class="hero-content">
  <h1>Les femmes méritent des travaux sans stress</h1>
  <p>Parce que vous n’êtes pas toujours à l’aise de choisir un artisan sans recommandation, il y a Travaux Sisters.</p>
  <div class="hero-buttons">
    <a href={`${import.meta.env.BASE_URL}services`} class="hero-btn-primary" aria-label="Accéder à la page des services" title="Accéder à la page des services">Vous êtes un particulier</a>
    <a href={`${import.meta.env.BASE_URL}devenez-artisan-partenaire-travauxsisters`} class="hero-btn-secondary" aria-label="Devenir artisan partenaire" title="Devenir artisan partenaire">Vous êtes un artisan</a>
  </div>
</div>
  </section>

  <section class="promise-section" aria-labelledby="promise-title">
    <h2 id="promise-title" class="promise-title">Notre promesse</h2>
    <div class="promise-cards" role="list">
      <Card 
        iconSrc={`${import.meta.env.BASE_URL}images/quality.png`}
        iconAlt="Icône de qualité"
        title="Qualité"
        text="Une qualité irréprochable en sélectionnant les meilleurs artisans pour vos projets de rénovation."
      />
      <Card 
        iconSrc={`${import.meta.env.BASE_URL}images/reactivity.png`}
        iconAlt="Icône de réactivité"
        title="Réactivité"
        text="Vous avez un contact direct avec une experte qui répond rapidement à toutes vos interrogations sur votre projet."
      />
      <Card 
        iconSrc={`${import.meta.env.BASE_URL}images/trust.png`}
        iconAlt="Icône de confiance"
        title="Confiance"
        text="Au cœur du projet, nous souhaitons rétablir la confiance entre les femmes et les artisans."
      />
      <Card 
        iconSrc={`${import.meta.env.BASE_URL}images/sorority.png`}
        iconAlt="Icône de sororité"
        title="Sororité"
        text="Une communauté de femmes qui s’entraident, se fait des recommandations et se donne des conseils."
      />
    </div>
  </section>
  

  <section class="project-wrapper" aria-labelledby="project-title">
    <div class="project-container">
      <div class="project-image">
        <img 
          src={`${import.meta.env.BASE_URL}images/picto.png`} 
          alt="Travaux de rénovation effectués par Travaux Sisters" 
          class="project-image" 
          loading="lazy" 
        />
      </div>
      <div class="project-content">
        <h2 id="project-title">Un accompagnement pour votre projet travaux, main dans la main.</h2>
        <p class="intro-text">
          Travaux Sisters s’occupe du diagnostic de votre chantier à prévoir et vous accompagne jusqu’à son lancement.
        </p>
        <ul class="icon-list" role="list">
          <li><i class="icon" aria-hidden="true">&#10003;</i> Entretien téléphonique de mise en contact</li>
          <li><i class="icon" aria-hidden="true">&#10003;</i> Un diagnostic du chantier à prévoir</li>
          <li><i class="icon" aria-hidden="true">&#10003;</i> Une estimation réaliste du coût des travaux</li>
          <li><i class="icon" aria-hidden="true">&#10003;</i> Une mise en relation avec un artisan de confiance selon l’expertise réalisée</li>
          <li><i class="icon" aria-hidden="true">&#10003;</i> Lancement des travaux selon le cahier des charges établi avec l’artisan</li>
        </ul>
        <div class="strong-messages">
          <strong>Pas de mauvaises surprises</strong>
          <strong><span class="highlight">100%</span> de satisfaction</strong>
          <strong><span class="highlight">100%</span> du processus maîtrisé</strong>
        </div>
        <a href="/services" class="btn-primary" aria-label="Découvrir les services de Travaux Sisters">Je découvre !</a>
      </div>
    </div>
  </section>
  

  <section class="form-section">
    <h2 class="form-section-title">Des projets de travaux ? Parlons-en !</h2>
    <div class="form-grid">
      <a href="./form/int-renovation" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/int-renovation.png');`}>
        <span>Rénovation intérieure</span>
      </a>
      <a href="/form/isolation-energie" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/isolation.png');`}>
        <span>Isolation & énergie</span>
      </a>
      <a href="/form/renovation-exterieur" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/ext-renovation.png');`}>
        <span>Rénovation extérieur</span>
      </a>
      <a href="/form/extension-aggrandissement" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/extension.png');`}>
        <span>Extension & agrandissement</span>
      </a>
      <a href="/form/amenagement-exterieur" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/ext-design.png');`}>
        <span>Aménagement extérieur</span>
      </a>
      <a href="/form/autre-projet" class="form-button" style={`background: url('${import.meta.env.BASE_URL}images/other-project.png');`}>
        <span>Autre projet</span>
      </a>
    </div>
  </section>

  <section class="testimonial-section" style={`background: url('${import.meta.env.BASE_URL}images/paint-background.png') no-repeat top left;`}>
    <div class="testimonial-content">
      <div class="testimonial-left">
        <h2>Celles qui en parlent le mieux, c'est vous !</h2>
        <p>
          Un accompagnement sur mesure, pour vous les femmes. Pour que votre projet de rénovation ne soit plus une source d'inquiétude.
          <br>
          Choisissez parmi les trois offres disponibles, celle qui vous correspond le mieux.
        </p>
        <a href="/services" class="btn-primary">Prendre RDV</a>
      </div>
      <div class="testimonial-right">
        <div class="testimonial-box">
          <span class="author-name">Delphine</span>
          <span class="review-date">Travaux réalisés en Décembre 2023</span>
          <div class="review-rating">★★★★★</div>
          <p>
            Mon carrelage avait explosé sans raison apparente, et impossible de comprendre ce qu'il fallait pour les assurances, mais aussi pour les réparations. Merci Florence pour ton aide, je pense que j'aurais abandonné sinon.
          </p>
        </div>
        
      </div>
    </div>
  </section>
  
  
</BaseLayout>
